@font-face {
    font-family: 'norwester';
    src: url("/fonts/norwester.otf");
}

.background_image{
    background: none;    
}

.image{
    position: absolute;    
    width: 100%;
    height: 100%;
    background-size:cover;
    background-repeat:no-repeat;
    background-image: url('/img/2.png');
    background-position: center;
    z-index: -1;       
}

div{
    height: 100%;    
}


.logo{    
    position: relative;    
    width: 100%;    
    display: flex;
    justify-content: center;
}


.tabla{    
    position: absolute;
    width: 30%;
    left: 35%;
    top: 25%;
    height: 70%;
    background-color: #fff;
    border-radius: 20px;
}

table{
    margin: 0 4%;
    margin-top: 120px;
    font-family: norwester;
    font-size: 20px;
    
    width: 87%;
    
}

td{    
    border-bottom: 2px dashed #000;
    padding:10px 0;
}


.left{
    width: 50%;
}

.right{
    width: 50%;
    text-align: right;
}


